{% extends 'base.html' %}
{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}
<div class="header">
        <h1 style="text-align: center">weather app</h1>
        <h4 style="text-align: center">Search your city....</h4>
    </div>

<div class="content">
    <div class="form">
        <form action="/city" method="POST">
            <input type="text" name="city" id="city">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}